/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
	font-family: "Open Sans", sans-serif;
	color: #444444;
  }
  
  a {
	color: #ae9548;
	
	 
	text-decoration: none;
  }
  
  a:hover {
	color: #fff;
	text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
	font-family: "Raleway", sans-serif;
  }
  

/*---------------------
  Helper CSS
-----------------------*/

/* .section-title {
	margin-bottom: 80px;
}

.section-title h1 {
	color: #242424;
	font-size: 72px;
	font-weight: 400;
	line-height: 72px;
} */

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.spad {
	padding-top: 100px;
	padding-bottom: 100px;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
	color: #ffffff;
}

/* buttons */

.primary-btn {
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	padding: 15px 0;
	padding-left: 34px;
	padding-right: 64px;
	color: #081624;
	font-family: "Open Sans", sans-serif;
	text-transform: uppercase;
	border: 2px solid #AE954B;
	position: relative;
}

.primary-btn i {
	position: absolute;
	right: 25px;
	top: 14px;
	font-size: 21px;
	color: #AE9548;
}

.submit-btn {
	color: #ffffff;
	background: #ae9548;
	font-size: 14px;
	font-weight: 400;
	border: none;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	cursor: pointer;
}

  /*--------------------------------------------------------------
  # Preloader
  --------------------------------------------------------------*/
  #preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
	overflow: hidden;
	background: #fff;
  }
  
  #preloader:before {
	content: "";
	position: fixed;
	top: calc(50% - 30px);
	left: calc(50% - 30px);
	border: 6px solid #ae9548;
	border-top-color: #fff;
	border-bottom-color: #fff;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	-webkit-animation: animate-preloader 1s linear infinite;
	animation: animate-preloader 1s linear infinite;
  }
  
  @-webkit-keyframes animate-preloader {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  }
  
  @keyframes animate-preloader {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  }
  
  /*--------------------------------------------------------------
  # Back to top button
  --------------------------------------------------------------*/
  .back-to-top {
	position: fixed;
	visibility: hidden;
	opacity: 0;
	right: 15px;
	bottom: 15px;
	z-index: 996;
	/* background: #ae9548; */
	border: 3px dashed #ae9548;
	border-radius: 50px;
	width: 40px;
	height: 40px;
	transition: all 0.4s;
  }
  
  .back-to-top i {
	font-size: 28px;
	color: #ae9548;
	line-height: 0;
  }
  
  .back-to-top:hover {
	background: #ae9548;
  }
  
  
  .back-to-top.active {
	visibility: visible;
	opacity: 1;
  }
  
  /*--------------------------------------------------------------
  # Disable aos animation delay on mobile devices
  --------------------------------------------------------------*/
  @media screen and (max-width: 768px) {
	[data-aos-delay] {
	  transition-delay: 0 !important;
	}
  }
  
  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  #header {
	transition: all 0.5s;
	z-index: 997;
	background: rgba(12, 11, 9, 0.6);
	border-bottom: 1px solid rgba(12, 11, 9, 0.6);
  }
  
  #header.header-scrolled, #header.header-inner-pages {
	top: 0;
	background: rgba(0, 0, 0, 0.85);
  }
  
  #header .logo {
	font-size: 28px;
	margin: 0;
	padding: 0;
	line-height: 1;
	font-weight: 700;
	letter-spacing: 0.5px;
  }
  
  #header .logo a {
	color: #fff;
  }
  
  #header .logo img {
	max-height: 40px;
  }
  
  @media (max-width: 992px) {
	#header {
	  border: 0;
	  padding: 15px 0;
	}
  }
  
  /* Get Startet Button */
  .get-started-btn {
	margin-left: 25px;
	background: #ae9548;
	color: #fff;
	border-radius: 50px;
	padding: 8px 25px 9px 25px;
	white-space: nowrap;
	transition: 0.3s;
	font-size: 18px;
	display: inline-block;
  }
  
  .get-started-btn:hover {
	background: #ffd351;
	color: #fff;
  }
  
  @media (max-width: 992px) {
	.get-started-btn {
	  margin: 0 15px 0 0;
	  padding: 6px 18px;
	}
  }
  
  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  /**
  * Desktop Navigation 
  */
  .navbar {
	padding: 0;
  }
  
  .navbar ul {
	margin: 0;
	padding: 0;
	display: flex;
	list-style: none;
	align-items: center;
  }
  
  .navbar li {
	position: relative;
  }
  
  .navbar > ul > li {
	position: relative;
	white-space: nowrap;
	margin: 0 12px;
  }
  
  .navbar a, .navbar a:focus {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 25px 3px;
	font-size: 18px;
	font-weight: 600;
	color: rgba(255, 255, 255, 0.7);
	white-space: nowrap;
	transition: 0.3s;
	position: relative;
  }
  
  .navbar a i, .navbar a:focus i {
	font-size: 12px;
	line-height: 0;
	margin-left: 5px;
  }
  
  .navbar > ul > li > a:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: -2px;
	left: 0;
	background-color: #ae9548;
	visibility: hidden;
	width: 0px;
	transition: all 0.3s ease-in-out 0s;
  }
  
  .navbar a:hover:before, .navbar li:hover > a:before, .navbar .active:before {
	visibility: visible;
	width: 100%;
  }
  
  .navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
	color: #fff;
  }
  
  .navbar .dropdown ul {
	display: block;
	position: absolute;
	left: 0;
	top: calc(100% + 30px);
	margin: 0;
	padding: 10px 0;
	z-index: 99;
	opacity: 0;
	visibility: hidden;
	background: #fff;
	box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
	transition: 0.3s;
	border-top: 2px solid #ae9548;
  }
  
  .navbar .dropdown ul li {
	min-width: 200px;
  }
  
  .navbar .dropdown ul a {
	padding: 10px 20px;
	font-size: 14px;
	text-transform: none;
	font-weight: 500;
	color: #282828;
  }
  
  .navbar .dropdown ul a i {
	font-size: 12px;
  }
  
  .navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
	color: #ae9548;
  }
  
  .navbar .dropdown:hover > ul {
	opacity: 1;
	top: 100%;
	visibility: visible;
  }
  
  .navbar .dropdown .dropdown ul {
	top: 0;
	left: calc(100% - 30px);
	visibility: hidden;
  }
  
  .navbar .dropdown .dropdown:hover > ul {
	opacity: 1;
	top: 0;
	left: 100%;
	visibility: visible;
  }
  
  @media (max-width: 1366px) {
	.navbar .dropdown .dropdown ul {
	  left: -90%;
	}
	.navbar .dropdown .dropdown:hover > ul {
	  left: -100%;
	}
  }
  
  /**
  * Mobile Navigation 
  */
  .mobile-nav-toggle {
	color: #fff;
	font-size: 28px;
	cursor: pointer;
	line-height: 0;
	transition: 0.5s;
  }
  
  #offcanvas{
	width: 80%;
	border-left: 0px;
  }
  
  #offcanvas-header{
	display: flex;
	justify-content: flex-end;
	height: 72px;
	align-items: center;
	box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 7%);
	position: relative;
  
  }
  #close{
	padding-right: 70px;
  }
  
  #offcanvas-body{
	padding-top: 32px;
	display: flex;
	flex-direction: column;
  }
  
  .offcanvas .btn-close{
	padding-top: 10px;
	padding-left: 30px;
  }
  
  .offcanvas ul {
	padding: 10px 0;
	background-color: #fff;
	overflow-y: auto;
	transition: 0.3s;
  }
  
  .offcanvas a{
	font-size: 15px;
	color: #282828;
	text-decoration: none;
  }
  .offcanvas a:focus {
	color: #ae9548;
  }
  
  .offcanvas .dropdown li{
	padding: 0;
	padding-left: 10px;
  }
  
  .offcanvas .services-nav i{
	padding-left: 20px;
	font-size: 15px;
  }
  
  .offcanvas a:hover, .offcanvas .active, .offcanvas li:hover > a {
	color: #ae9548;
  }
  
  /*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
	padding-top: 40px;
	overflow: hidden;
  }
  
  
  .section-title {
	padding-bottom: 30px;
  }
  
  .section-title h2 {
	font-size: 40px;
	font-weight: bold;
	margin-bottom: 20px;
	padding-bottom: 20px;
	position: relative;
	text-transform: uppercase;
	color: #081624;

  
  }
  
  .section-title h2::after {
	content: '';
	position: absolute;
	display: block;
	width: 50px;
	height: 3px;
	background: #ae9548;
	bottom: 0;
	left: 0;
  }
  
  .section-title p {
	margin-bottom: 0;
	color: #777777;
	font-size: 15px;
  }

  .section-title span{
	  color: #ae9548;
  }

/*---------------------
  Hero Slider
-----------------------*/

.slider-item .single-slider-item {
	height: 938px;
	padding-top: 395px;
}

.slider-item .single-slider-item h1 {
	font-size: 96px;
	color: #ffffff;
	line-height: 96px;
}

.slider-nav {
	position: absolute;
	right: 0;
	top: 0;
}

.slider-nav .single-slider-nav {
	display: inline-block;
	margin-right: 26px;
}

.slider-nav .single-slider-nav.last {
	margin-right: 0;
}

.slider-nav .single-slider-nav:hover .nav-text {
	background: #ffffff;
	border: 1px solid #ae9548;
	border-top: 0;
}

.slider-nav .single-slider-nav:hover .nav-text p {
	color: #081624;
}

.slider-nav .single-slider-nav .nav-text {
	background: #353535;
	padding: 8px 15px;
	position: relative;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	border: 1px solid #353535;
	border-top: 0;
}

.slider-nav .single-slider-nav .nav-text p {
	color: #ffffff;
	font-size: 16px;
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 0;
}

.slider-nav .single-slider-nav .nav-text p i {
	position: absolute;
	right: 15px;
	top: 11px;
	font-size: 20px;
	color: #ae9548;
}

/*--------------------------------------------------------------
  # About
  --------------------------------------------------------------*/
  .about {
    /* background: url("../img/gallery/gallery-3.jpg") center center; */
    background-size: cover;
    position: relative;
    padding: 80px 0;
  }
  
  .about:before {
    content: "";
	/* background: rgba(255, 255, 255, 0.527); */

    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  
  .about .about-img {
    position: relative;
    transition: .5s;
  }
  
  .about .about-img img {
    max-width: 100%;
    border: 4px solid rgba(255, 255, 255, 0.2);
    position: relative;
  }
  
  .about .about-img::before {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 60px;
    height: 60px;
    z-index: 1;
    content: '';
    border-left: 5px solid #cda45e;
    border-top: 5px solid #cda45e;
    transition: .5s;
  }
  
  .about .about-img::after {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 60px;
    height: 60px;
    z-index: 2;
    content: '';
    border-right: 5px solid #cda45e;
    border-bottom: 5px solid #cda45e;
    transition: .5s;
  }
  
  .about .about-img:hover {
    transform: scale(1.03);
  }
  
  .about .about-img:hover::before {
    left: 10px;
    top: 10px;
  }
  
  .about .about-img:hover::after {
    right: 10px;
    bottom: 10px;
  }
  
  .about .content h3 {
    font-weight: 600;
    font-size: 26px;
  }
  
  .about .content ul {
    list-style: none;
    padding: 0;
  }
  
  .about .content ul li {
    padding-bottom: 10px;
  }
  
  .about .content ul i {
    font-size: 20px;
    padding-right: 4px;
    color: #cda45e;
  }
  
  .about .content p:last-child {
    margin-bottom: 0;
  }
  
  @media (min-width: 1024px) {
    .about {
      background-attachment: fixed;
    }
  }
  
  /*--------------------------------------------------------------
  # Why Us
  --------------------------------------------------------------*/
  .why-us .box {
    padding: 50px 30px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    transition: all ease-in-out 0.3s;
    background: #1a1814;
  }
  
  .why-us .box span {
    display: block;
    font-size: 28px;
    font-weight: 700;
    color: #cda45e;
  }
  
  .why-us .box h4 {
    font-size: 24px;
    font-weight: 600;
    padding: 0;
    margin: 20px 0;
    color: rgba(255, 255, 255, 0.8);
  }
  
  .why-us .box p {
    color: #aaaaaa;
    font-size: 15px;
    margin: 0;
    padding: 0;
  }
  
  .why-us .box:hover {
    background: #cda45e;
    padding: 30px 30px 70px 30px;
    box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.18);
  }
  
  .why-us .box:hover span, .why-us .box:hover h4, .why-us .box:hover p {
    color: #fff;
  }

/*---------------------
  Room Availability
-----------------------*/

.room-check {
	padding-bottom: 52px;
}

.room-item {
	margin-bottom: 40px;
	-webkit-box-shadow: 2px 15px 75px 6px #ECECEC;
	box-shadow: 2px 15px 75px 6px #ECECEC;
}

.room-item .room-pic-item.owl-carousel .owl-nav button[type=button] {
	color: #AE9548;
	font-size: 26px;
	height: 69px;
	width: 52px;
	background: #353535;
	line-height: 72px;
	position: absolute;
	left: 0;
	top: 50%;
	-webkit-transform: translateY(-34.5px);
	transform: translateY(-34.5px);
}

.room-item .room-pic-item.owl-carousel .owl-nav button[type=button].owl-next {
	left: auto;
	right: 0;
}

.room-item .room-text {
	overflow: hidden;
	padding-left: 35px;
	padding-top: 35px;
	padding-right: 45px;
	padding-bottom: 37px;
}

.room-item .room-text .room-title {
	overflow: hidden;
	margin-bottom: 36px;
}

.room-item .room-text .room-title h2 {
	float: left;
	font-size: 36px;
	color: #2d220f;
}

.room-item .room-text .room-title .room-price {
	float: right;
	position: relative;
}

.room-item .room-text .room-title .room-price span {
	position: absolute;
	left: -40px;
	bottom: 7px;
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	line-height: 14px;
	color: #2d220f;
}

.room-item .room-text .room-title .room-price h2 {
	font-size: 36px;
	color: #081624;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
}

.room-item .room-text .room-features {
	overflow: hidden;
}

.room-item .room-text .room-features .room-info {
	float: left;
	text-align: center;
	margin-right: 50px;
}

.room-item .room-text .room-features .room-info.last {
	margin-right: 0;
}

.room-item .room-text .room-features .room-info i {
	display: block;
	color: #ae9548;
	margin-bottom: -4px;
}

.room-item .room-text .room-features .room-info span {
	display: block;
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	color: #2d220f;
}

.check-form {
	padding-left: 60px;
	padding-right: 60px;
	padding-top: 55px;
	padding-bottom: 61px;
	border: 2px solid #AE9548;
	margin-bottom: 40px;
}

.check-form h2 {
	font-size: 36px;
	font-weight: 400;
	color: #081624;
	margin-bottom: 40px;
}

.check-form .datepicker {
	margin-bottom: 52px;
}

.check-form .datepicker .date-select {
	display: inline-block;
	position: relative;
	margin-right: 56px;
}

.check-form .datepicker .date-select.to {
	margin-right: 0;
}

.check-form .datepicker .date-select p {
	font-size: 14px;
	color: #081624;
	margin-bottom: 2px;
	font-weight: 400;
}

.check-form .datepicker .date-select input {
	font-size: 14px;
	font-weight: 600;
	color: #242424;
	font-family: "Open Sans", sans-serif;
	text-transform: uppercase;
	opacity: 0.5;
	border: none;
	letter-spacing: 1.2px;
	height: 48px;
	border-bottom: 1px solid #888888;
	width: 168px;
	display: block;
}

.check-form .datepicker .date-select img {
	position: absolute;
	right: 0;
	bottom: 16px;
}

.check-form .room-quantity {
	margin-bottom: 34px;
}

.check-form .room-quantity .single-quantity {
	display: inline-block;
	margin-right: 105px;
}

.check-form .room-quantity .single-quantity.last {
	margin-right: 0;
}

.check-form .room-quantity .single-quantity p {
	font-size: 14px;
	color: #081624;
	margin-bottom: 2px;
	font-weight: 400;
}

.check-form .room-quantity .single-quantity .pro-qty {
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #8C9299;
}

.check-form .room-quantity .single-quantity .pro-qty .qtybtn {
	float: left;
	width: 15px;
	text-align: center;
	cursor: pointer;
	display: block;
	color: #081624;
	font-size: 18px;
	letter-spacing: 0.4px;
	font-weight: 300;
}

.check-form .room-quantity .single-quantity .pro-qty input {
	width: 28px;
	border: none;
	float: left;
	text-align: center;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #081624;
	opacity: 0.25;
	letter-spacing: 0.4px;
	margin-top: -2px;
}

.check-form .room-selector {
	display: block;
}

.check-form .room-selector p {
	font-size: 14px;
	color: #242424;
	margin-bottom: 2px;
	font-weight: 400;
}

.check-form .room-selector .nice-select {
	border-radius: 0;
	border-bottom: 1px solid #888888;
	font-size: 14px;
	height: 46px;
	line-height: 46px;
	width: 100%;
	font-size: 14px;
	padding-left: 0;
	padding-right: 0;
	margin-bottom: 55px;
}

.check-form .room-selector .nice-select span {
	color: #242424;
	text-transform: uppercase;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	opacity: 0.5;
}

.check-form .room-selector select {
	width: 100%;
}

.check-form button {
	font-size: 18px;
	color: #081624;
	text-transform: uppercase;
	font-family: "Open Sans", sans-serif;
	font-weight: 900;
	background: transparent;
	border: none;
	cursor: pointer;
	position: relative;
}

.check-form button i {
	line-height: 16px;
	margin-top: 6px;
	position: absolute;
	right: -45px;
	bottom: 7px;
	font-size: 31px;
	color: #AE9548;
}

.nice-select {
	border: 0;
}

.nice-select.open .list {
	width: 100%;
}

.nice-select:after {
	border-bottom: 1px solid #0E0E0E;
	border-right: 1px solid #0E0E0E;
	height: 10px;
	width: 10px;
	right: 4px;
	top: 40%;
}

.nice-select .list {
	border-radius: 0;
	margin-top: 0;
}

.about-room h2 {
	text-align: center;
	font-size: 48px;
	font-weight: 500;
	line-height: 56px;
	color: #242424;
	margin-bottom: 26px;
}

.about-room .about-para {
	margin-bottom: 13px;
}

.about-room .about-para p {
	color: #242424;
	line-height: 32px;
}

.about-room .about-btn {
	text-align: center;
}

/*---------------------
  Facilities
-----------------------*/

.facilities-section {
	background: #F7F7F7;
	padding-bottom: 115px;
	padding-top: 86px;
}

.facilities-content .left-img {
	margin-right: -15px;
}

.facilities-content .left-img img {
	height: 570px;
}

.facilities-content .facilities-text-warp {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	height: 570px;
	background: #ffffff;
	padding: 70px 30px;
}

.facilities-content .facilities-text {
	max-width: 410px;
}

.facilities-content .facilities-text h2 {
	color: #242424;
	letter-spacing: 0.2px;
	margin-bottom: 17px;
}

.facilities-content .facilities-text p {
	font-size: 18px;
	line-height: 36px;
	color: #242424;
	color: #242424;
	margin-bottom: 24px;
}

.facilities-content .facilities-text .primary-btn.fac-btn i {
	right: 35px;
}

.facilities-content .facilities-img {
	height: 100%;
}

.testimonial-author-item ul li a:hover .about-text {
	display: block;
}

.testimonial-author-item ul li a:hover .about-pic {
	margin-right: 32px;
}

/*---------------------
  Testimonial
-----------------------*/

.testimonial-item {
	margin-left: -40px;
	margin-right: -40px;
}

.testimonial-item .single-testimonial-item {
	-webkit-box-shadow: 2px 15px 75px 6px #e8e8e8;
	box-shadow: 2px 15px 75px 6px #e8e8e8;
	padding-left: 40px;
	padding-top: 55px;
	padding-bottom: 45px;
	padding-right: 35px;
	margin-bottom: 52px;
	position: relative;
}

.testimonial-item .single-testimonial-item .test-date {
	color: #242424;
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	letter-spacing: 1.2px;
	opacity: 0.5;
}

.testimonial-item .single-testimonial-item .test-rating {
	color: #ED8A19;
	font-size: 24px;
	margin-bottom: 10px;
}

.testimonial-item .single-testimonial-item .test-rating i {
	margin-right: 5px;
}

.testimonial-item .single-testimonial-item h4 {
	color: #242424;
	font-size: 24px;
	line-height: 50.03px;
}

.testimonial-item .single-testimonial-item p {
	font-size: 16px;
	color: #242424;
	line-height: 32px;
	letter-spacing: 0.2px;
}

.testimonial-author-item ul li {
	list-style: none;
	display: inline-block;
}

.testimonial-author-item ul li a.active {
	opacity: 1;
}

.testimonial-author-item ul li a.active .author-pic {
	margin-right: 32px;
}

.testimonial-author-item ul li a.active .author-pic:after {
	opacity: 1;
}

.testimonial-author-item ul li a.active .author-text {
	display: block;
	margin-right: 35px;
}

.testimonial-author-item ul li a {
	display: block;
	opacity: 0.5;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

.testimonial-author-item ul li a:hover {
	opacity: 1;
}

.testimonial-author-item ul li a .author-pic {
	float: left;
	margin-right: 20px;
	-webkit-transition: 0.3s;
	transition: 0.3s;
	position: relative;
}

.testimonial-author-item ul li a .author-pic:after {
	position: absolute;
	left: 15px;
	top: -72px;
	width: 40px;
	height: 40px;
	background: #fff;
	content: "";
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	opacity: 0;
}

.testimonial-author-item ul li a .author-pic img {
	height: 68px;
	width: 68px;
	border-radius: 50%;
}

.testimonial-author-item ul li a .author-text {
	float: left;
	margin-top: 8px;
	display: none;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

.testimonial-author-item ul li a .author-text h5 {
	color: #ae9548;
	font-size: 18px;
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 24px;
}

.testimonial-author-item ul li a .author-text h5 span {
	color: #242424;
	font-size: 16px;
	font-style: italic;
	letter-spacing: 0.2px;
	line-height: 24px;
	text-transform: capitalize;
	display: block;
}

/*---------------------
  Follow Instagram
-----------------------*/

.follow-instagram {
	background: #f7f7f7;
	padding: 23px 0;
}

.follow-instagram h2 {
	font-size: 36px;
	color: #242424;
	line-height: 72px;
	font-weight: 400;
}

/*---------------------
  Footer Room Pic
-----------------------*/

.footer-room-pic img {
	width: 25%;
}

/*---------------------
  Footer
-----------------------*/

.pb-50 {
	padding-bottom: 50px;
}

.footer-section {
	background: #353535;
	padding-top: 43px;
	overflow: hidden;
}

.footer-section .footer-logo {
	margin-bottom: 50px;
}

.footer-section .footer-logo a {
	display: block;
}

.footer-section .single-footer-widget {
	margin-bottom: 25px;
}

.footer-section .single-footer-widget h5 {
	font-size: 18px;
	line-height: 42px;
	color: #ae9548;
}

.footer-section .single-footer-widget .widget-text {
	position: relative;
}

.footer-section .single-footer-widget .widget-text i {
	position: absolute;
	left: 0;
	top: 5px;
	font-size: 18px;
	color: #ae9548;
}

.footer-section .single-footer-widget .widget-text p {
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.5px;
	color: #ffffff;
	margin-left: 30px;
}

.footer-section .copyright-area {
	overflow: hidden;
	padding: 30px 0;
	border-top: 1px solid #ae9548;
}

.footer-section .copyright-area .copyright-text {
	float: left;
	font-size: 13px;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	color: #ffffff;
	line-height: 24px;
}

.footer-section .copyright-area .copyright-text i {
	color: #ff2410;
}

.footer-section .copyright-area .copyright-text a {
	color: #ffffff;
	text-decoration: underline;
}

.footer-section .copyright-area .privacy-links {
	float: right;
	margin-right: 35px;
}

.footer-section .copyright-area .privacy-links a {
	display: inline-block;
	font-size: 12px;
	line-height: 14px;
	color: #ffffff;
	margin-right: 30px;
}

/*--------------------------- Other Pages Styles --------------------------*/

/*---------------------
  Hero Section
-----------------------*/

.hero-section {
	height: 428px;
	padding-top: 207px;
}

.hero-text {
	position: relative;
	padding-left: 270px;
}

.hero-text h1 {
	font-size: 96px;
	color: #ffffff;
	line-height: 96px;
}

.hero-text .page-nav a {
	display: inline-block;
	color: #ffffff;
	font-size: 24px;
	font-weight: 500;
	font-family: "Taviraj", serif;
	position: absolute;
	left: 49px;
	top: 30%;
}

.hero-text .page-nav a i {
	color: #ae9548;
	position: relative;
	top: 2px;
}

.hero-text .page-nav a.left-nav i {
	margin-right: 20px;
}

.hero-text .page-nav a.right-nav {
	left: auto;
	right: 49px;
}

.hero-text .page-nav a.right-nav i {
	margin-left: 20px;
}

/*---------------------
  About Room
-----------------------*/

.about-us-room {
	padding-top: 90px;
	padding-bottom: 62px;
}

.about-us-room h2 {
	text-align: center;
	font-size: 48px;
	font-weight: 500;
	line-height: 56px;
	color: #242424;
	margin-bottom: 26px;
}

.about-us-room .about-para {
	margin-bottom: 13px;
}

.about-us-room .about-para p {
	color: #242424;
	line-height: 32px;
	letter-spacing: 0.1px;
}

/*---------------------
  Video Tour
-----------------------*/

.video-tour {
	height: 657px;
	position: relative;
	padding-top: 282px;
}

.video-tour .video-text h2 {
	font-size: 48px;
	color: #ffffff;
}

.video-tour .video-play-btn {
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	-webkit-transform: translateY(-51.5px);
	transform: translateY(-51.5px);
	margin: 0 auto;
}

.video-tour .video-play-btn a {
	display: block;
}

.video-tour .video-play-btn a i {
	color: #ffffff;
	font-size: 45px;
	display: inline-block;
	position: relative;
	cursor: pointer;
}

.video-tour .video-play-btn a i:after {
	position: absolute;
	left: -52px;
	top: -42px;
	width: 127px;
	height: 127px;
	border: 2px solid #ffffff;
	content: "";
	border-radius: 50%;
}

/*---------------------
  Gallery
-----------------------*/

.gallery-section {
	padding-bottom: 60px;
}

.gallery-text {
	padding-top: 136px;
	margin-bottom: 40px;
}

.gallery-text h2 {
	color: #242424;
	margin-bottom: 17px;
	font-size: 48px;
}

.gallery-text p {
	font-size: 16px;
	line-height: 32px;
	color: #242424;
	margin-bottom: 30px;
	letter-spacing: 0.2px;
}

.gallery-text .primary-btn.fac-btn i {
	right: 35px;
}

.gallery-img {
	margin-bottom: 30px;
}

.gallery-img img {
	min-width: 100%;
}

/*---------------------
  Staff
-----------------------*/

.staff-section {
	padding-top: 0;
	padding-bottom: 70px;
}

.staff-section .section-title h2 {
	font-size: 48px;
	font-weight: 500;
}

.single-staff-item {
	-webkit-box-shadow: 4px 20px 30px 10px #ECECEC;
	box-shadow: 4px 20px 30px 10px #ECECEC;
	margin-bottom: 30px;
}

.single-staff-item .staff-img img {
	min-width: 100%;
}

.single-staff-item .staff-text {
	padding-left: 28px;
	padding-top: 26px;
	padding-bottom: 26px;
	padding-right: 30px;
	position: relative;
}

.single-staff-item .staff-text h5 {
	font-size: 18px;
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	color: #ae9548;
	text-transform: uppercase;
	margin-bottom: 5px;
}

.single-staff-item .staff-text span {
	display: inline-block;
	font-size: 14px;
	font-weight: 400;
	font-family: "Open Sans", sans-serif;
	color: #242424;
	opacity: 0.5;
	letter-spacing: 1.2px;
	text-transform: uppercase;
}

.single-staff-item .staff-text a i {
	color: #ae9548;
	font-size: 25px;
	position: absolute;
	right: 30px;
	bottom: 42px;
}

/*---------------------
  Services Section
-----------------------*/

.services-section {
	padding: 40px 15px 10px;
}

.single-services-item {
	margin-bottom: 30px;
}

.single-services-item.changed-align .services-text {
	-webkit-transform: translateY(-72px);
	transform: translateY(-72px);
}

.single-services-item .services-pic-item {
	position: relative;
}

.single-services-item .services-pic-item img {
	width: 100%;
}

.single-services-item .services-text {
	position: absolute;
	left: 0;
	top: 50%;
	right: 0;
	bottom: 0;
	text-align: center;
	padding: 0 40px;
	-webkit-transform: translateY(-24px);
	transform: translateY(-24px);
}

.single-services-item .services-text h2 {
	font-size: 48px;
	color: #ffffff;
	line-height: 48px;
}

/*---------------------
  Features Section
-----------------------*/

.features-section {
	background: #F7F7F7;
	padding-bottom: 65px;
}

.single-features-item {
	text-align: center;
	margin-bottom: 55px;
}

.single-features-item i {
	color: #ae9548;
	display: inline-block;
	margin-bottom: 10px;
}

.single-features-item h4 {
	font-size: 24px;
	color: #242424;
	margin-bottom: 13px;
}

.single-features-item p {
	color: #242424;
	font-size: 16px;
	line-height: 32px;
	letter-spacing: 0.2px;
}

/*---------------------
  Rooms Section
-----------------------*/

.room-section {
	padding-bottom: 0;
}

.rooms-page-item {
	-webkit-box-shadow: 2px 15px 75px 6px #EBEBEB;
	box-shadow: 2px 15px 75px 6px #EBEBEB;
	margin-bottom: 100px;
}

.rooms-page-item .room-pic-slider .single-room-pic img {
	height: 379px;
}

.rooms-page-item .room-pic-slider.owl-carousel .owl-nav button[type=button] {
	color: #AE9548;
	font-size: 26px;
	height: 69px;
	width: 52px;
	background: #353535;
	line-height: 72px;
	position: absolute;
	left: 0;
	top: 50%;
	-webkit-transform: translateY(-34.5px);
	transform: translateY(-34.5px);
}

.rooms-page-item .room-pic-slider.owl-carousel .owl-nav button[type=button].owl-next {
	left: auto;
	right: 0;
}

.rooms-page-item .room-text {
	padding-top: 33px;
	padding-right: 30px;
	padding-bottom: 34px;
}

.rooms-page-item .room-text .room-title {
	overflow: hidden;
	margin-bottom: 18px;
	padding-right: 40px;
}

.rooms-page-item .room-text .room-title h2 {
	float: left;
	font-size: 36px;
	color: #2d220f;
}

.rooms-page-item .room-text .room-title .room-price {
	float: right;
	position: relative;
}

.rooms-page-item .room-text .room-title .room-price span {
	position: absolute;
	left: -40px;
	bottom: 7px;
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	line-height: 14px;
	color: #2d220f;
}

.rooms-page-item .room-text .room-title .room-price h2 {
	font-size: 36px;
	color: #081624;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
}

.rooms-page-item .room-text .room-title .room-price sub {
	position: absolute;
	right: -37px;
	bottom: 13px;
	color: #2d220f;
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
}

.rooms-page-item .room-text .room-desc {
	margin-bottom: 20px;
}

.rooms-page-item .room-text .room-desc p {
	font-size: 16px;
	color: #242424;
	line-height: 32px;
	letter-spacing: 0.2px;
}

.rooms-page-item .room-text .room-features {
	overflow: hidden;
	margin-bottom: 35px;
}

.rooms-page-item .room-text .room-features .room-info {
	float: left;
	text-align: center;
	margin-right: 38px;
}

.rooms-page-item .room-text .room-features .room-info.last {
	margin-right: 0;
}

.rooms-page-item .room-text .room-features .room-info i {
	display: block;
	color: #ae9548;
	margin-bottom: -4px;
}

.rooms-page-item .room-text .room-features .room-info span {
	display: block;
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	color: #2d220f;
}

/*---------------------
  Blog
-----------------------*/

.side-bar {
	margin-bottom: 50px;
}

.side-bar .categories-item {
	margin-bottom: 62px;
}

.side-bar .categories-item h4 {
	font-size: 24px;
	color: #242424;
	letter-spacing: 0.2px;
	margin-bottom: 37px;
}

.side-bar .categories-item .categories-list ul li {
	color: #242424;
	font-size: 16px;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	letter-spacing: 0.2px;
	list-style: none;
	margin-bottom: 26px;
	position: relative;
}

.side-bar .categories-item .categories-list ul li:after {
	position: absolute;
	left: 0;
	bottom: -15px;
	width: 100%;
	height: 1px;
	background: #F3F3F3;
	content: "";
}

.side-bar .categories-item .categories-list ul li span {
	height: 24px;
	width: 24px;
	display: inline-block;
	line-height: 24px;
	background: #ae9548;
	font-size: 14px;
	color: #ffffff;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	border-radius: 50%;
	text-align: center;
	float: right;
}

.side-bar .recent-post {
	margin-bottom: 46x;
}

.side-bar .recent-post h4 {
	font-size: 24px;
	color: #242424;
	letter-spacing: 0.2px;
	margin-bottom: 35px;
}

.side-bar .recent-post .single-recent-post {
	overflow: hidden;
	margin-bottom: 30px;
}

.side-bar .recent-post .single-recent-post .recent-pic {
	float: left;
	margin-right: 20px;
}

.side-bar .recent-post .single-recent-post .recent-text h5 {
	font-size: 18px;
	color: #242424;
	line-height: 24px;
	margin-bottom: 9px;
}

.side-bar .recent-post .single-recent-post .recent-text .recent-time {
	position: relative;
	display: inline-block;
}

.side-bar .recent-post .single-recent-post .recent-text .recent-time i {
	position: absolute;
	left: 0;
	top: 4px;
	color: #ae9548;
	font-size: 18px;
}

.side-bar .recent-post .single-recent-post .recent-text .recent-time span {
	color: #242424;
	font-size: 12px;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	letter-spacing: 0.2px;
	margin-left: 23px;
}

.side-bar .tags-item h4 {
	font-size: 24px;
	color: #242424;
	letter-spacing: 0.2px;
	margin-bottom: 24px;
}

.side-bar .tags-item .tag-links a {
	color: #ae9548;
	display: inline-block;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.2px;
	border: 1px solid #ae9548;
	border-radius: 50px;
	padding: 2px 12px;
	margin-right: 6px;
	margin-bottom: 9px;
}

.blog-post .single-blog-post {
	-webkit-box-shadow: 2px 15px 75px 6px #EBEBEB;
	box-shadow: 2px 15px 75px 6px #EBEBEB;
	margin-bottom: 50px;
}

.blog-post .single-blog-post .blog-text {
	padding-top: 25px;
	padding-left: 30px;
	padding-bottom: 25px;
	padding-right: 40px;
}

.blog-post .single-blog-post .blog-text h4 {
	color: #2d220f;
	letter-spacing: 0.2px;
	margin-bottom: 13px;
}

.blog-post .single-blog-post .blog-text .blog-widget {
	margin-bottom: 20px;
}

.blog-post .single-blog-post .blog-text .blog-widget .blog-info {
	display: inline-block;
	position: relative;
	margin-right: 20px;
}

.blog-post .single-blog-post .blog-text .blog-widget .blog-info i {
	color: #ae9548;
	font-size: 18px;
	position: absolute;
	left: 0;
	top: 3px;
}

.blog-post .single-blog-post .blog-text .blog-widget .blog-info img {
	position: absolute;
	left: 0;
	top: 5px;
}

.blog-post .single-blog-post .blog-text .blog-widget .blog-info span {
	color: #242424;
	display: inline-block;
	font-size: 12px;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	margin-left: 26px;
}

.blog-post .single-blog-post p {
	font-size: 14px;
	color: #242424;
	line-height: 26px;
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
}

.blog-post .single-blog-post a {
	display: inline-block;
	color: #081624;
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	position: relative;
}

.blog-post .single-blog-post a i {
	font-size: 22px;
	color: #ae9548;
	position: absolute;
	right: -32px;
	top: -1px;
}

.blog-post .blog-pagination a {
	display: inline-block;
	height: 32px;
	width: 32px;
	border: 1px solid #ae9548;
	line-height: 31px;
	text-align: center;
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	color: #ae9548;
	margin-right: 2px;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

.blog-post .blog-pagination a:hover,
.blog-post .blog-pagination a.active {
	background: #ae9548;
	color: #ffffff;
}
/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact{
	/* background-color: #151515; */
}
.contact .info-box {
	color: #444444;
	text-align: center;
	border: 1px solid #ae9548;
	padding: 20px 0 30px 0;
  }
  
  .contact .info-box i {
	font-size: 32px;
	color: #ae9548;
	border-radius: 50%;
	padding: 8px;
  }
  
  .contact .info-box h3 {
	font-size: 20px;
	color: #ae9548;
	font-weight: 700;
	margin: 10px 0;
  }
  
  .contact .info-box p {
	padding: 0;
	line-height: 24px;
	font-size: 14px;
	margin-bottom: 0;
	color: #ae9548;
  }
  
  .contact .php-email-form {
	padding: 30px;
  }
  
  .contact .php-email-form .error-message {
	display: none;
	color: #fff;
	background: #ae9548;
	text-align: left;
	padding: 15px;
	font-weight: 600;
  }
  
  .contact .php-email-form .error-message br + br {
	margin-top: 25px;
  }
  
  .contact .php-email-form .sent-message {
	display: none;
	color: #fff;
	background: #ae9548;
	text-align: center;
	padding: 15px;
	font-weight: 600;
  }
  
  .contact .php-email-form .loading {
	display: none;
	background: #fff;
	text-align: center;
	padding: 15px;
  }
  
  .contact .php-email-form .loading:before {
	content: "";
	display: inline-block;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	margin: 0 10px -6px 0;
	border: 3px solid #ae9548;
	border-top-color: #eee;
	-webkit-animation: animate-loading 1s linear infinite;
	animation: animate-loading 1s linear infinite;
  }
  
  .contact .php-email-form input, .contact .php-email-form textarea {
	border-radius: 0;
	box-shadow: none;
	font-size: 14px;
	border-radius: 4px;
  }
  
  .contact .php-email-form input:focus, .contact .php-email-form textarea:focus {
	border-color: #ae9548;
  }
  
  .contact .php-email-form input {
	padding: 10px 15px;
  }
  
  .contact .php-email-form textarea {
	padding: 12px 15px;
  }
  
  .contact .php-email-form button[type="submit"] {
	background: #ae9548;
	border: 0;
	padding: 10px 24px;
	color: #fff;
	transition: 0.4s;
	border-radius: 4px;
  }
  
  .contact .php-email-form button[type="submit"]:hover {
	background: #ae9548;
  }
  
  @-webkit-keyframes animate-loading {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  }
  
  @keyframes animate-loading {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  }
  
  
  /*--------------------------------------------------------------
  # Breadcrumbs
  --------------------------------------------------------------*/
  .breadcrumbs {
	padding: 15px 0;
	background: #f9f9f9;
	min-height: 40px;
	margin-top: 72px;
  }
  
  @media (max-width: 992px) {
	.breadcrumbs {
	  margin-top: 63px;
	}
  }
  
  .breadcrumbs h2 {
	font-size: 26px;
	font-weight: 500;
  }
  
  .breadcrumbs ol {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0 0 10px 0;
	margin: 0;
	font-size: 14px;
  }
  
  .breadcrumbs ol li + li {
	padding-left: 10px;
  }
  
  .breadcrumbs ol li + li::before {
	display: inline-block;
	padding-right: 10px;
	color: #424242;
	content: "/";
  }
  
  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
  #footer {
	background: #0f0f0f;
	color: #fff;
	font-size: 14px;
	text-align: center;
	padding: 30px 0;
  }
  
  #footer h3 {
	font-size: 36px;
	font-weight: 700;
	color: #fff;
	position: relative;
	font-family: "Poppins", sans-serif;
	padding: 0;
	margin: 0 0 15px 0;
  }
  
  
  
  #footer p {
	font-size: 15;
	font-style: italic;
	padding: 0;
	margin: 0 0 40px 0;
  }
  
  #footer .social-links {
	margin: 0 0 40px 0;
  }
  
  #footer .social-links a {
	font-size: 18px;
	display: inline-block;
	background: #ae9548;
	color: #fff;
	line-height: 1;
	padding: 8px 0;
	margin-right: 4px;
	border-radius: 50%;
	text-align: center;
	width: 36px;
	height: 36px;
	transition: 0.3s;
  }
  
  #footer .social-links a:hover {
	background: #ff700a;
	color: #fff;
	text-decoration: none;
  }
  
  #footer .copyright {
	margin: 0 0 5px 0;
  }
  
  #footer .privacy {
	font-size: 13px;
  }
  
  #footer .privacy a {
	color: #ff700a;
	transition: 0.3s;
  }
  
  #footer .privacy a:hover {
	color: #ae9548;
  }
  

/*----------------------- Responsive Media Styles -------------------------*/

@media (min-width: 1200px) {
	.container {
		max-width: 1176px;
	}
}

@media only screen and (min-width: 1200px) and (max-width: 1300px) {
	.inner-header .logo {
		padding-left: 0;
	}
	.header-section.other-page .inner-header .main-menu ul li {
		margin-right: 20px;
	}
}

/* Medium Device: 1280px */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.inner-header .logo {
		padding-left: 0;
	}
	.inner-header .main-menu {
		margin-right: 20px;
	}
	.inner-header .main-menu ul li {
		margin-right: 13px;
	}
	.slider-item .single-slider-item h1 {
		font-size: 90px;
	}
	.room-item .room-text .room-features .room-info {
		margin-right: 28px;
	}
	.check-form .datepicker .date-select {
		margin-right: 20px;
	}
	.check-form .datepicker .date-select input {
		width: 150px;
	}
	.check-form .room-quantity .single-quantity {
		margin-right: 70px;
	}
	.testimonial-item {
		margin-left: 0;
		margin-right: 0;
	}
	.testimonial-item .single-testimonial-item:after {
		left: 15px;
	}
	.header-section.other-page .inner-header .main-menu {
		float: right;
	}
	.header-section.other-page .inner-header .top-widget {
		display: none;
	}
	.single-services-item .services-text h2 {
		font-size: 28px;
	}
	.rooms-page-item .room-text .room-desc p {
		line-height: 24px;
	}
	.rooms-page-item .room-text {
		padding-bottom: 26px;
	}
	.video-tour .video-text h2 {
		font-size: 40px;
	}
}

/* Tablet Device: 768px */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.inner-header .logo {
		margin-right: 30px;
	}
	.inner-header .main-menu {
		float: right;
		margin-right: 0;
	}
	.inner-header .logo {
		padding-left: 0;
		margin-right: 20px;
	}
	.header-section.other-page .inner-header .main-menu ul li,
	.inner-header .main-menu ul li {
		margin-right: 15px;
	}
	.inner-header .top-info {
		display: none;
	}
	.header-section.other-page .inner-header .logo {
		margin-right: 40px;
	}
	.slider-item .single-slider-item {
		padding-top: 300px;
	}
	.hero-text {
		padding-left: 0;
	}
	.hero-text .page-nav a,
	.hero-text .page-nav a.right-nav {
		position: relative;
		top: 0;
		left: 0;
		right: 0;
		margin-right: 30px;
	}
	.hero-text .page-nav a.right-nav {
		margin-right: 0;
	}
	.slider-nav {
		position: relative;
		display: block;
		padding-top: 40px;
	}
	.slider-item .single-slider-item h1 {
		font-size: 65px;
		line-height: 1;
	}
	.about-room h2 {
		font-size: 35px;
	}
	.facilities-content .facilities-img {
		height: 600px;
	}
	.testimonial-item {
		margin-left: 0;
		margin-right: 0;
	}
	.testimonial-item .single-testimonial-item:after {
		left: 15px;
	}
	.about-us-room h2 {
		font-size: 35px;
	}
	.video-tour .video-play-btn {
		left: 285px;
	}
	.rooms-page-item .room-text {
		padding-left: 35px;
	}
	.rooms-page-item .room-pic-slider .single-room-pic img {
		height: auto;
	}
	.side-bar {
		padding-top: 50px;
	}
}

/* Large Mobile Device: 480px */

@media only screen and (max-width: 767px) {
	.inner-header .logo {
		padding-left: 0;
	}
	.slicknav_menu {
		display: block;
		background: transparent;
		padding: 0;
	}
	.slicknav_nav {
		background: #555;
	}
	.slicknav_nav ul {
		margin: 0;
	}
	.slicknav_nav .slicknav_row,
	.slicknav_nav a {
		padding: 10px 10px;
		margin: 0;
	}
	.slicknav_nav a:hover {
		border-radius: 0;
	}
	.slicknav_nav .slicknav_row:hover {
		border-radius: 0;
	}
	.slicknav_btn {
		margin: 0 0 10px 0;
	}
	.header-section.other-page .inner-header .main-menu,
	.inner-header .main-menu {
		display: none;
	}
	.header-section.other-page .inner-header .top-widget,
	.inner-header .top-info {
		display: none;
	}
	.header-section {
		z-index: 999;
	}
	.slider-item .single-slider-item h1 {
		font-size: 40px;
		line-height: 40px;
	}
	.slider-item .single-slider-item {
		height: auto;
		padding: 250px 0 150px;
	}
	.slider-nav {
		position: relative;
		display: block;
		padding-top: 40px;
	}
	.slider-nav .single-slider-nav {
		margin-right: 25px;
		width: 130px;
	}
	.slider-nav .single-slider-nav .nav-text p i {
		right: 5px;
		top: 12px;
	}
	.slider-nav .single-slider-nav .nav-text p {
		font-size: 13px;
	}
	.facilities-content .facilities-img {
		height: 400px;
	}
	.room-item .room-text .room-features .room-info {
		margin-right: 28px;
	}
	.check-form .datepicker .date-select {
		margin-right: 30px;
	}
	.check-form .datepicker .date-select input {
		font-size: 13px;
		width: 145px;
	}
	.check-form .room-quantity .single-quantity {
		margin-right: 70px;
	}
	.facilities-content .left-img {
		margin-right: 0;
	}
	.facilities-content .left-img img {
		width: 100%;
	}
	.facilities-content .facilities-text-t {
		margin-left: 0;
		margin-bottom: 30px;
	}
	.facilities-content .facilities-text-d {
		margin-right: 0;
	}
	.facilities-content .right-img img {
		width: 100%;
	}
	.facilities-content .right-img {
		margin-left: 0;
	}
	.testimonial-item {
		margin-left: 0;
		margin-right: 0;
	}
	.testimonial-author-item ul li {
		position: relative;
	}
	.testimonial-author-item ul li a.active .author-text {
		position: absolute;
		left: 0;
		top: 100%;
		width: 100px;
	}
	.testimonial-author-item ul li a.active .author-text h5 {
		font-size: 14px;
	}
	.testimonial-author-item ul li a.active .author-text span {
		font-size: 10px;
		line-height: 1;
	}
	.testimonial-item .single-testimonial-item:after {
		left: 15px;
	}
	.follow-instagram h2 {
		line-height: 45px;
	}
	.footer-section .copyright-area {
		text-align: center;
	}
	.footer-section .copyright-area .copyright-text {
		float: none;
	}
	.footer-section .copyright-area .privacy-links {
		float: none;
		margin-right: 0;
	}
	.footer-section .copyright-area .privacy-links a:last-child {
		margin-right: 0;
	}
	.video-tour .video-text h2 {
		text-align: center;
	}
	.video-tour {
		padding-top: 220px;
	}
	.video-tour .video-play-btn {
		position: relative;
		left: 0;
		right: 0;
		top: 0;
		text-align: center;
		-webkit-transform: translateY(0);
		transform: translateY(0);
		margin: 0 auto;
		width: 40px;
		padding-top: 50px;
	}
	.rooms-page-item .room-text {
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.rooms-page-item .room-pic-slider .single-room-pic img {
		height: auto;
	}
	.hero-text {
		padding-left: 0;
	}
	.hero-text .page-nav a,
	.hero-text .page-nav a.right-nav {
		position: relative;
		top: 0;
		left: 0;
		right: 0;
		margin-right: 30px;
		font-size: 20px;
	}
	.hero-text .page-nav a.right-nav {
		margin-right: 0;
	}
	.single-services-item .services-text h2 {
		font-size: 35px;
	}
	.side-bar {
		padding-top: 50px;
	}
	.follow-instagram h2 {
		font-size: 20px;
	}
}

/* Small Mobile Device: 320px */

@media only screen and (min-width: 320px) and (max-width: 479px) {
	.slider-nav .single-slider-nav {
		margin-bottom: 30px;
	}
	.inner-header .logo {
		margin-right: 0;
	}
	.section-title h1 {
		font-size: 57px;
	}
	.facilities-content .facilities-text-t {
		padding-left: 45px;
		padding-top: 100px;
		padding-right: 45px;
		padding-bottom: 100px;
	}
	.facilities-content .facilities-text-d {
		padding-left: 45px;
		padding-top: 100px;
	}
	.room-item .room-text {
		padding-left: 20px;
		padding-top: 35px;
		padding-right: 12px;
	}
	.room-item .room-text .room-title h2 {
		font-size: 25px;
	}
	.room-item .room-text .room-title .room-price h2 {
		font-size: 25px;
	}
	.check-form {
		padding-left: 30px;
		padding-right: 30px;
	}
	.check-form .datepicker .date-select {
		margin-right: 20px;
	}
	.check-form .datepicker .date-select input {
		font-size: 7px;
		width: 100px;
		height: 30px;
	}
	.check-form .datepicker .date-select img {
		bottom: 7px;
	}
	.check-form .room-quantity .single-quantity {
		margin-right: 20px;
	}
	.check-form button i {
		right: -32px;
	}
	.blog-post .single-blog-post .blog-text .blog-widget .blog-info {
		margin-right: 13px;
	}
	.header-section.other-page .inner-header .logo {
		margin-right: 0;
	}
	.hero-text h1 {
		font-size: 75px;
	}
	.contact-form {
		padding-left: 30px;
		padding-top: 45px;
		padding-right: 30px;
	}
}